{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
    <section class="container-pai">
        <section class="navbar">
            <img src="{% static "img\logo.png" %}">
            <a href="{% url 'lista_criancas' %}"><button class="btn-apadrinhar">Quero apadrinhar</button></a>
        </section>
        <section class="background">

            <section class=texto-back>
                <p>Ser jogador de futebol não é mais só um sonho. Agora, é realidade!</p>
                <a href="{% url 'lista_criancas' %}"><button class="btn-apadrinhar">Quero apadrinhar</button></a>
            </section>
            <section class="back-crianca">
                <img src="{% static "img\crianca.png" %}">
            </section>
        </section>
        <section class="info">
            <p class="texto-info">Como Funciona</p>
            <section class="container-infos">
                <section class="apadrinhe">
                    <img src="{% static "img\apadrinhe.png" %}">
                    <h3>Apadrinhe</h3>
                    <p>Escolha uma crianca <br/> para apoiar</p>
                </section>

                <section class="contribua">
                    <img src="{% static "img\contribua.png" %}">
                    <h3>Contribua</h3>
                    <p>Forneça ajuda finan-<br/>ceira mensal</p>
                </section>

                <section class="acompanhe">
                    <img src="{% static "img\acompanhe.png" %}">
                    <h3>Acompanhe</h3>
                    <p>Veja o progresso da<br/> criança apadrinhada</p>
                </section>
            </section>
        </section>

        <section class="footer">
            <h3>Sobre</h3>
            <h3>Contato</h3>
            <section class="redes-sociais">
                <img src="{% static "img\twitter.png" %}">
                <img src="{% static "img\facebook.png" %}">
                <img src="{% static "img\instagram.png" %}">
            </section>
        </section>
    </section>
</body>
</html>