{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>escolha_função</title>
    <link rel="stylesheet" href="{% static 'styles/escolha_adm.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
        <header>
            <section class="container-pai">
                <section class="navbar">
                <section class="logo">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo-solidare2.png' %}" alt="Logo Solidare">
                    </a>
                </section>

                <section class="home-links">
                    <section class="home">
                    <a href="{% url 'home' %}"><button>Home</button></a>
                    </section>
                    <section class="gerenciar">
                    <a href="{% url 'escolha_admin' %}#sobre"><button>Gerenciar</button></a>
                    </section>

                    <section class="cadastrar">
                    <a href="{% url 'pagina_exibicao' %}"><button>Cadastrar</button></a>
                    </section>
                </section>
                </section>
            </section>
        </header>

        <section class="box-content">
            <section class="content">
                <h1>Administração Laço Solidrare</h1>
                <section class="escolhas">
                    <section class="padrinhos">
                        <a href="{% url 'gerenciar_padrinhos' %}">
                            <img src="{% static 'img/Settings.png' %}" alt="padrinho"></img>
                        </a>
                        <h2>Padrinhos</h2>
                    </section>

                    <section class="afilhados">
                        <a href="{% url 'gerenciar_afilhados' %}">
                            <img src="{% static 'img/Group8.png' %}" alt="afilhado"></img>
                        </a>
                        <h2>Afilhados</h2>
                    </section>
                </section>
            
            </section>
        </section>
    {% endblock content %}
</body>
</html>