{% extends 'escolha_admin.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar_padrinhos</title>
    
    {%block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/gerenciar_padrinho.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
        {% if user.is_authenticated %}
            <header>
                <section class="container-pai">
                    <section class="navbar">
                    <section class="logo">
                        <a href="{% url 'home' %}">
                        <img src="{% static 'img/logo-solidare2.png' %}" alt="Logo Solidare">
                        </a>
                    </section>

                    <section class="home-links">
                        <section class="home">
                        <a href="{% url 'home' %}"><button>Home</button></a>
                        </section>
                        <section class="gerenciar">
                        <a href="{% url 'escolha_admin' %}#sobre"><button>gerenciar</button></a>
                        </section>

                        <section class="cadastrar">
                        <a href="{% url 'pagina_exibicao' %}"><button>Cadastrar</button></a>
                        </section>
                    </section>
                    </section>
                </section>
            </header>

            <section class="box-content">
                <h2>Gerenciar Padrinhos</h2>
                <table>
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Afilhados</td>
                            <td>Ações</td>
                        </tr>
                    </thead>

                   <tbody>
                        {% for ap in apadrinhamentos %}
                            <tr>
                                <td>{{ ap.padrinho.user.get_full_name }}</td>
                                <td>{{ ap.crianca.nome }}</td>
                                <td>
                                    <button type="button"><img src="{% static 'img/edit.png' %}"></button>
                                    <button type="button"><img src="{% static 'img/delete.png' %}"></button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">Nenhum padrinho registrado.</td>
                                <td colspan="3">
                                    <button type="button"><img src="{% static 'img/edit.png' %}"></button>
                                    <button type="button"><img src="{% static 'img/delete.png' %}"></button>
                                </td>
                            </tr>
                            
                            
                        {% endfor %}
                    </tbody>
                </table>
            </section>

        {% else %}
            <h1>Usuario negado</h1>
        {% endif %}
    {% endblock content %} 
</body>
</html>