{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>homepage</title>
        <link rel="stylesheet" href="{% static 'styles/home.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include "partials/header.html" %}
    <main>
        <section class="boas-vindas">
            <section class="crianca">
                <img src="{% static "img/crianca1.png" %}" class="img-crianca">    
            </section>
            <section class="laco-solidare">
                <h1>Laço Solidare</h1>
                <p><b>Transforme vidas</b>: ajude crianças e adolescentes a alcançarem novas oportunidades e construírem um futuro melhor. Torne-se padrinho ou madrinha e faça parte dessa mudança.</p>
                <section class="apadrinhe">
                    <a href="{% url 'pagina_exibicao' %}"><button>Torne-se padrinho</button></a>
                </section>
            </section>
        </section>

        <section class="info">
            <p class="texto-info">Como Funciona</p>
            <section class="container-infos">
                <section class="apadrinhe">
                    <img src="{% static "img\Afilhado2.png" %}">
                    <h3>Apadrinhe</h3>
                    <p>Escolha uma crianca <br/> para apoiar</p>
                </section>

                <section class="contribua">
                    <img src="{% static "img\Money.png" %}">
                    <h3>Contribua</h3>
                    <p>Forneça ajuda<br/>financeira mensal</p>
                </section>

                <section class="acompanhe">
                    <img src="{% static "img\Acompanhe.png" %}">
                    <h3>Acompanhe</h3>
                    <p>Veja o progresso da<br/> criança apadrinhada</p>
                </section>
            </section>
        </section>

        <section class="container-estatisticas">
            <section class="estatisticas">
                <canvas id="myChart"></canvas>
            </section>

            {{ labels|json_script:"chart-labels" }}
            {{ data|json_script:"chart-data" }}


            <section class="descricao-stats">
                <h1>Seja a parte que falta</h1>
                <p>O Instituto Solidare está sempre crescendo para auxiliar cada vez mais
                    o <b>desenvolvimento sociocultural</b> de crianças vulneráveis.</p>
                   <p> Através de uma quantia simbólica, você pode mudar a vida de nossas crianças.<br><br>
                    O que está esperando?<br>
                    <b>Crie um laço e transforme vidas!</b>
                   </p>

                                 
                <a href="{% url 'pagina_exibicao' %}"><button>Apadrinhar</button></a>
            </section>
        </section>
        
        <section id="sobre">
        <section class="sobre-pai">
            <h1>Sobre o Projeto</h1>
                <section class="conteudo-sobre">
                <section class="missao">
                    <h2>Missão</h2>                
                    <p>
                      O <strong>Laço Solidare</strong> é o projeto de apadrinhamento do <strong>Instituto Solidare</strong>, criado para fortalecer o desenvolvimento de crianças e adolescentes em situação de vulnerabilidade.
                    </p>                  
                    <p>
                      Mais do que apoio financeiro, o apadrinhamento é um gesto de cuidado e presença. É fazer parte da realização de sonhos, promovendo oportunidades e esperança para quem mais precisa.
                    </p>                  
                    <p>
                      Ao se tornar padrinho ou madrinha, você contribui diretamente para a formação de cidadãos e cidadãs mais conscientes, seguros e felizes.
                    </p>                  
                    <p><strong>Crie um laço e transforme vidas!</strong></p>                  
                    <a href="{% url 'pagina_exibicao' %}"><button>Torne-se padrinho</button></a>
                </section>
        
                <section class="img-apadrinhamento">
                    <img src="{% static 'img/icone-solidare.png' %}" class="img-crianca">   
                </section>
            </section>
        </section>
        </section>
        


        <section class="footer">
            <a  href="{% url 'login_admin' %}"><button class="btn-admin">Admin</button></a>
            <h3>Contato</h3>
            <section class="redes-sociais">
                <img src="{% static "img\twitter.png" %}">
                <img src="{% static "img\facebook.png" %}">
                <img src="{% static "img\instagram.png" %}">
            </section>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
        <script src="{% static 'js/estatisticas.js' %}"></script>
    </main>

</body>
</html>