{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
    <header>
        <section class="container-pai">
            <section class="navbar">
                <section class="logo">
                    <img src="{% static "img/logo-solidare2.png" %}">
                </section>
                <section class="home-links">
                    <section class="home">
                        <a href="{% url 'home' %}"><button>Home</button></a>
                    </section>
                    <section class="sobre">
                        <button><a href="#sobre"></a>Sobre</button> 
                    </section>
                    <section class="sign in">
                        <button><a href="{% url 'home' %}"></a>Sign in</button>   
                    </section>
                    <section class="sign up">
                        <a href="{% url 'cadastro_padrinho' %}"><button>Sign up</button></a>
                    </section>
                    <section class="apadrinhe">
                        <a href="{% url 'pagina_exibicao' %}"><button>Apadrinhe</button></a>
                    </section>
                </section>
            </section>
        </section>
    </header>
    <main>
        <section class="boas-vindas">
            <section class="crianca">
                <img src="{% static "img/crianca1.png" %}" class="img-crianca">    
            </section>
            <section class="laco-solidare">
                <h1>Laço Solidare</h1>
                <p><b>Transforme vidas</b>: ajude crianças e adolescentes a alcançarem novas oportunidades e construírem um futuro melhor. Torne-se padrinho ou madrinha e faça parte dessa mudança.</p>
                <section class="apadrinhe">
                    <a href="{% url 'pagina_exibicao' %}"><button>Torne-se padrinho</button></a>
                </section>
            </section>
        </section>

        <section class="info">
            <p class="texto-info">Como Funciona</p>
            <section class="container-infos">
                <section class="apadrinhe">
                    <img src="{% static "img\apadrinhe.png" %}">
                    <h3>Apadrinhe</h3>
                    <p>Escolha uma crianca <br/> para apoiar</p>
                </section>

                <section class="contribua">
                    <img src="{% static "img\contribua.png" %}">
                    <h3>Contribua</h3>
                    <p>Forneça ajuda finan-<br/>ceira mensal</p>
                </section>

                <section class="acompanhe">
                    <img src="{% static "img\acompanhe.png" %}">
                    <h3>Acompanhe</h3>
                    <p>Veja o progresso da<br/> criança apadrinhada</p>
                </section>
            </section>
        </section>

        <section class="footer">
            <h3>Sobre</h3>
            <h3>Contato</h3>
            <section class="redes-sociais">
                <img src="{% static "img\twitter.png" %}">
                <img src="{% static "img\facebook.png" %}">
                <img src="{% static "img\instagram.png" %}">
            </section>
        </section>
    </main>

</body>
</html>