{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel Admin</title>
  <link rel="stylesheet" href="{% static 'styles/login-adm.css' %}">

</head>
<body>
    {% include "partials/header.html" %}
    
    <section class="box-content">
        <form method="POST">
            {% csrf_token %}   

            <label for="username">Email</label>
            <input type="text" class="nome-login" id="nome-login" name="username" placeholder="Email" required>
            <label for="password">Senha</label>
            <input type="password" class="senha-login" id="senha-login" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <a href="{% url 'pagina_exibicao' %}">Crie uma conta!</a>
        </form>
            
    </section>
  
</body>
</html>
