{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static "styles/registrarpadrinhos.css" %}">
</head>
<body>
  <header>
    <section class="container-pai">
        <section class="navbar">
            <section class="logo">
                <img src="{% static "img/logo.png" %}">
            </section>
            <section class="home-links">
                <section class="home">
                    <a href="{% url 'home' %}"><button>Home</button></a>
                </section>
                <section class="sobre">
                    <button><a href="#sobre"></a>Sobre</button> 
                </section>
                <section class="sign in">
                    <button><a href="{% url 'home' %}"></a>Sign in</button>   
                </section>
                <section class="sign up">
                    <a href="{% url 'cadastro_padrinho' %}"><button>Sign up</button></a>
                </section>
                <section class="apadrinhe">
                    <a href="{% url 'pagina_exibicao' %}"><button>Apadrinhe</button></a>
                </section>
            </section>
        
        </section>
    </section>
</header>
    <main>

      <div class="container">
        <div class="form-box">
          <form>
                <div class="input-group">
                    <label>Nome:</label>
                    <input type="text" placeholder="Nome">
                </div>

                <div class="input-group">
                    <label>Sobrenome:</label>
                    <input type="text" placeholder="Sobrenome">
                </div>
                
                <div class="input-group">
                  <label>Email:</label>
                    <input type="email" placeholder="Email">
                </div>

                <div class="input-group">
                    <label>Senha:</label>
                    <input type="password" placeholder="Senha">
                  </div>
                  
                <div class="input-group">
                    <label>Confirme a senha:</label>
                    <input type="password" placeholder="Confirme a senha">
                </div>

                <div class="input-group">
                    <label>Telefone:</label>
                    <input type="tel" placeholder="Telefone">
                </div>

                <div class="input-group">
                    <label>CPF:</label>
                    <input type="text" placeholder="CPF">
                </div>

                <div class="input-group">
                    <label>Método de pagamento:</label>
                    <select>
                        <option value="" disabled selected>Selecione o método de pagamento</option>
                        <option value="credito">Cartão de Crédito</option>
                        <option value="debito">Cartão de Débito</option>
                        <option value="pix">PIX</option>
                    </select>
                  </div>

                  <button type="submit">Finalizar</button>
                </form>
              </div>
            </div>
          </main>
          </body>
</html>