body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}

.box-content {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    font-size: 1rem;
    font-weight: 500;
    width: 30%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border: solid 1px  rgb(188, 187, 187);
    padding: 15px;
    border-radius: 10px;
}


form label {
    margin-bottom: 0.6rem;
}


form input {
    padding: 12px;
    border-radius: 10px;
    border: solid 1px rgb(188, 187, 187);
    outline: none;
    margin-bottom: 1.2rem;
    background-color: transparent;
}


form button {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color:#009640;
    color: white;
    margin-bottom: 1.6rem;
    margin-top: 1rem;
    cursor: pointer;
}

form a {
    color: black;
    cursor: pointer;
}




